---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Ziwei Wu"
	pubDate={new Date('August 02 2016')}
>
	<p>
		My name is Ziwei. This is my personal page. I mostly post about things that I am learning.
		Sometimes I share some interesting ideas and thoughts.
	</p>
</Layout>
